.ancillary-navigation {
  order: 2;
  padding: 1rem;
  font-size: rem(13px);
  margin-bottom: .5rem;
  
  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    order: 1;
    padding: 0 0 1.5rem;
    margin: 0;
  }

  a {
    font-weight: bold;
    display: block;
    font-family: $font-family-serif;

    @include media-breakpoint-up(lg) {
      display: inline;

      &:not(:last-child)::after {
        content: "\00a0\00a0|\00a0\00a0";
        display: inline-block;
        font-weight: normal;
        color: $blue;
      }
    }
  }
}