.main-header {
  display: flex;
  opacity: 0;
  pointer-events: none;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: $white;
  z-index: $main-header-z-index;
  padding-bottom: $mobile-header-height;
  transform: translateX(2rem);
  transition: opacity .15s ease-in-out, transform .15s ease-in-out;

  &.-active {
    opacity: 1;
    pointer-events: initial;
    transform: translateX(0);
  }

  @include media-breakpoint-up(lg) {
    display: block;
    overflow: initial;
    position: relative;
    padding: 0;
    opacity: 1;
    transform: initial;
    pointer-events: initial;
    background: transparent;
  }

  .main-header-mobile-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    background: $primary;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: $mobile-header-close-z-index;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}