.btn {
  min-height: rem(40px);
  cursor: pointer;
  font-family: $headings-font-family;
  font-size: .8rem;
  text-transform: uppercase;
  font-size: rem(14px);
  color: $white;
  white-space: nowrap;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: .5rem 1rem;
  border-radius: .25rem;
  transition: background-color .25s ease-in-out;

  &:hover {
    background: darken($secondary, 15%);
  }
}