// **************************************************************************
//
// CONFIG
//
// Include all setting variables and vendor override settings in this 
// global register.
//
// **************************************************************************

// **************************************************************************
//
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
//
// **************************************************************************

$spacer: 1rem !default;

$paragraph-margin-bottom:   $spacer * 1.5;

// **************************************************************************
//
// Color
//
// Global color settings.
//
// **************************************************************************

// Custom Colors
$gray-sand: #e7e7e7;

// Grayscale
$white:    #fff;
$gray-100: #f4f4f4;
$gray-200: #efefef;
$gray-300: #e8e8e8;
$gray-400: #dcdcdc;
$gray-500: #b7b7b7;
$gray-600: #707070;
$gray-700: #525252;
$gray-800: #343434;
$gray-900: #232323;
$black:    #000;

// Rainbow Scale
$blue:    #232c6b;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #e54d59;
$orange:  #f78e1e;
$yellow:  #ffc40c;
$green:   #7ec04a;
$teal:    #39bdac;
$cyan:    #42c4dd;
$tan:     #aca199;
$carbon:  #415364;

// Bootstrap States
$primary:       $teal;
$secondary:     $red;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

// Body Color
// Settings for the `<body>` element.

$body-bg:                   $white;
$body-color:                #231f20;

// **************************************************************************
//
// Grid
//
// Global grid settings.
//
// **************************************************************************

// Grid Breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1330px
);

// Container Settings
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  xs: 354px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1360px
);

// Grid Columns
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 30px;

// **************************************************************************
//
// Typography
//
// Global typography settings.
//
// **************************************************************************

// Global Font Stacks

$font-family-sans-serif: 'Montserrat' -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-serif: 'Merriweather' Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif;
$font-family-base: $font-family-sans-serif;
$line-height-base: 1.5;
$font-weight-base: 300;
$font-size-base: .9rem;

// Headings

$headings-font-weight: normal;
$headings-font-family: 'Baloo Bhai', 'Arial Rounded MT Bold', 'Helvetica Rounded', 'Comic Sans MS', 'Comic Sans', cursive;
$headings-color: inherit;
$headings-margin-bottom: $spacer * 1.2;
$headings-line-height: 1;

$h1-font-size: $font-size-base * 2.75;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

// **************************************************************************
//
// Links
//
// Global link settings.
//
// **************************************************************************

$link-color:                $blue;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;

// **************************************************************************
//
// Components
//
// Component-level configurations
//
// **************************************************************************

$mobile-header-height: 4rem;
$main-header-wave-width: 125rem;
